<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DataClientRead" providerName="System.Data.SqlClient" connectionString= "server=AnalyticsProd;database=Intern_CoyoteMoves;User Id=Intern;Password=Intern2013!;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
    <add name="DataClientWrite" providerName="System.Data.SqlClient" connectionString= "server=AnalyticsProd;database=Intern_CoyoteMoves;User Id=Intern;Password=Intern2013!;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False" />
    <add name="MembershipConnection" connectionString="server=.;Database=aspnetdb;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    <add name="ADConnection" connectionString="LDAP://prdgxdc01.coyotelogistics.local" />
  </connectionStrings>
</configuration>