/* Base Styles */
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Univers", Arial, sans-serif;
    font-size: 14px;
    background-color: #fff;
    color: #000;
}

#form-inner {
    width: 500px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  max-height: 200px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow-y: auto;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
  text-decoration: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #000;
  background: #30d600;
  font-weight: bold;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #000;
  background: #30d600;
}

textarea, input { 
    outline: none; 
}

.container {
    min-width: 1000px;
    margin: 0 auto;
    text-align: left;
    width: 100%;
    padding: 0 10px;
}

#body {
    padding: 10px 0;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1;
}

/* Header */
header {
    width: 100%;
    background: #000;
    color: #fff;
    height: 40px;
    text-align: center;
    margin: 0;
    padding: 4px 0 5px 0;
}

    header img, header h1 {
        display: inline-block;
    }

    header h1 {
        margin: 0;
        text-transform: uppercase;
        font-weight: normal;
        padding-left: 5px;
    }

h2.black-bg {
    width: 100%;
    display: block;
    padding: 5px;
    color: #30d600;
    background: #000;
    margin: 5px 0;
    font-weight: normal;
    text-transform: uppercase;
}

/* Floor Map */
.tabs {
    margin-bottom: -1px;
    z-index: 100;
}

    .tabs > .tab {
        display: inline-block;
        padding: 10px;
        background: #c9cace;
        border: 1px solid #c9cace;
        font-weight: bold;
        margin: 0 10px 0 0;
    }

        .tabs > .tab:last-child {
            margin: 0;
        }

        .tabs > .tab.active {
            background: #fff;
            border-bottom: 1px solid #fff;
        }

        .tabs > .tab {
            color: #000;
            text-decoration: none;
        }

#employee-search {
    width: 600px;
    padding: 7px 9px;
    bottom: 2px;
    position: relative;
}

#employee-search-submit {
    padding: 7px 10px !important;
    position: relative !important;
    bottom: 2px;
}

.map-container {
    float: left;
    width: 85%;
    height: 600px;
    background:#fff;
    border: 1px solid #c9cace;
    z-index: 99;
}

.map {
    display: block;
    height: 100%;
    width: 100%;
}

#map-sidebar {
    float: left;
    width: 15%;
    height: 600px;
    border: 1px solid #c9cace;
    border-width: 1px 1px 1px 0;
}

    #map-sidebar h3 {
        margin: 0;
        text-align: center;
        background: #000;
        color: #30d600;
        text-transform: uppercase;
    }

#selected-desk-container {
    height: 250px;
}

#displaced-employees-container {
    height: 350px;
}

    #selected-desk-container .tr {
        background: none;
    }

#displaced-employees {
    margin: 0;
    list-style-type: none;
    -webkit-padding-start: 0px;
}

    #displaced-employees > li {
        padding: 10px;
        cursor: pointer;
        text-align: center;
        background: #f0f0f0;
        margin: 5px 0;
        font-weight: bold;
        color: #000;
    }

        #displaced-employees > li:hover {
            background: #c9cace;
        }

        #displaced-employees > li:first-child {
            margin: 0;
        }

footer {
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}

.form-half {
    vertical-align: top !important;
    width: 50%;
    padding: 10px !important;
}

.table {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.tr {
    display: table-row;
    padding: 10px 0;
    height: 40px;
    width: 100%;
    vertical-align: middle;
}

    .tr.label {
        padding: 0;
        height: 30px;
        text-transform: uppercase;
        font-weight: bold;
        background: none !important;
    }

    .employee-form .tr:nth-last-child(2n+1) {
        background:#f0f0f0;
    }

h3.title {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    border-bottom: 2px solid #000;
    width: 100%;
     
}

    h3.title:not(:first-of-type) {
        margin: 20px 0 10px 0;
    }

.td {
    display: table-cell;
    vertical-align: middle;
}

.employee-form .td {
    padding: 0 40px;
    width: 33%;
}

    .employee-form .td:first-child {
        padding: 0 0 0 10px;
    }

.employee-form {
    background: #fff;
    border: 1px solid #c9cace;
    z-index: 99;
    width: 100%;
    padding: 10px;
}

input[type=text], input[type=password] {
    padding: 3px 5px;
    border: 1px solid #c9cace;
}

    input[type=text]:focus {
        border: 1px solid #30d600;
    }

input[type=submit] {
    background: #000;
    color: #fff;
    padding: 5px 10px;
    border: none;
    margin-top: 10px;
    font-size: 16px;
    text-transform: uppercase;
}

    input[type=submit]:disabled {
        color: #000;
        background: #c9cace;
    }

        input[type=submit]:disabled:hover, input[type=submit]:disabled:active {
            color: #000;
        }

    input[type=submit]:hover, input[type=submit]:active {
        color: #30d600;
    }

.cancel-button {
    background: #f2dede;
    color: #b94a48;
    padding: 5px 10px;
    border: none;
    margin-top: 10px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

    .cancel-button:hover, .cancel-button:active {
        color: #000;
    }

footer {
    width: 100%;
    border-top: 3px solid #000;
    height: 40px;
}

.nudge--left {
    margin-left: 10px;
}

.nudge--right {
    margin-right: 10px;
}

.nudge--sides {
    margin-left: 10px;
    margin-right: 10px;
}

.soft--sides {
    padding-left: 10px;
    padding-right: 10px;
}

.soft-half--right {
    padding-right: 5px;
}

.text--bold {
    font-weight: bold;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.no-float {
    float: none !important;
}

.inline-block {
    display: inline-block;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.vertical-middle {
    vertical-align: middle;
}