/* Base Styles */
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    background-color: #fff;
    color: #000;
}

#form-inner {
    width: 300px;
    display: block;
    margin: 150px auto 0 auto;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  max-height: 200px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow-y: auto;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
  text-decoration: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  background: #0475c8;
  font-weight: bold;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  background: #0475c8;
}

textarea, input { 
    outline: none; 
}

.container {
    min-width: 1000px;
    margin: 0 auto;
    text-align: left;
    width: 100%;
    padding: 0 10px;
}

#body {
    padding: 10px 0;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1;
}

/* Header */
header {
    width: 100%;
    background: #000;
    color: #fff;
    height: 40px;
    text-align: center;
    box-sizing: content-box;
}

    header img, header h1 {
        display: inline-block;
    }

    header h1 {
        margin: 0;
        text-transform: uppercase;
        font-weight: normal;
        font-size: 1.7em;
        line-height: 2em;
    }

h2.black-bg {
    width: 100%;
    display: block;
    padding: 10px;
    color: #333;
    background-color: #eee;
    margin: 5px 0;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .15em;
    margin-bottom: 20px;
}

/* Floor Map */
.tabs {
    z-index: 100;
    padding-left: 10px;
    margin-bottom: 10px;
    min-width: 250px;
    width: 20%;
    float: left;
}

    .tabs.forms {
        width: 100% !important;
    }

    .tabs > .tab {
        cursor: pointer;
        display: inline-block;
        font-weight: bold;
        color: #000;
        text-decoration: none;
        background: #eee;
        border-top: 4px solid #e7e7e7;
        font-size: 14px;
        line-height: 1.33333;
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: .15em;
        margin: 0;
        padding: 0.5em 0.5em 0.45em 0.5em;
    }
        .tabs > .tab svg {
            height: 12px;
            width: 12px;
        }
        .tabs > .tab svg:hover, .tabs > .tab > svg:active {
            fill: #d2322d;
        }

        .tabs > .tab:first-child:not(:only-child) {
            -webkit-border-radius: 3px 0 0 3px;
            -moz-border-radius: 3px 0 0 3px;
            -ms-border-radius: 3px 0 0 3px;
            -o-border-radius: 3px 0 0 3px;
            border-radius: 3px 0 0 3px;
        }

        .tabs > .tab:last-child:not(:only-child) {
            -webkit-border-radius: 0 3px 3px 0;
            -moz-border-radius: 0 3px 3px 0;
            -ms-border-radius: 0 3px 3px 0;
            -o-border-radius: 0 3px 3px 0;
            border-radius: 0 3px 3px 0;
        }

        .tabs > .tab:only-child {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
        }

        .tabs > .tab.active {
            border-top: 4px solid #0475c8;
        }
        .tabs > .tab:hover, .tabs > .tab:active {
            background: #e7e7e7;
        }

#employee-search {
    width: 100%;
    padding: 7px 9px;
    position: relative;
    bottom: -2px;
}

input[type="text"] {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.map-container {
    float: left;
    width: 85%;
    height: 600px;
    background:#fff;
    border: 1px solid #c9cace;
    z-index: 99;
}

.map {
    display: block;
    height: 100%;
    width: 100%;
}

#map-sidebar {
    float: left;
    width: 15%;
    height: 600px;
    border: 1px solid #c9cace;
    border-width: 1px 1px 1px 0;
}

    #map-sidebar h3 {
        border-top: 5px solid #0592fa;
        padding: 10px;
        margin: 0;
        text-align: center;
        background: #eee;
        color: #333;
        text-transform: uppercase;
        letter-spacing: .1em;
    }

#selected-desk-container {
    height: 300px;
}

#displaced-employees-container {
    height: 300px;
    overflow: hidden;
}

    #selected-desk-container .tr {
        background: none;
    }

    #selected-desk-container .error-message {
        margin-bottom: 10px;
    }

#displaced-employees {
    margin: 0;
    list-style-type: none;
    -webkit-padding-start: 0px;
    overflow: auto;
    height: 260px;
}

    #displaced-employees > li {
        margin-top: 8px;
    }
    #displaced-employees > li:last-child() {
        margin-bottom: 8px;
    }

.form-half {
    vertical-align: top !important;
    width: 50%;
    padding: 0;
}

.table {
    display: table;
    border-collapse: collapse;
    width: 100%;
}

.tr {
    display: table-row;
    padding: 10px 0;
    height: 40px;
    width: 100%;
    vertical-align: middle;
}

    .tr.label {
        padding: 0;
        height: 30px;
        text-transform: uppercase;
        font-weight: bold;
        background: none !important;
    }

    .employee-form .tr:nth-last-child(2n+1) 
{        background:#f0f0f0;
    }

h3.title {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 10px 0;
    border-bottom: 4px solid #0475c8;
    width: 100%;
     
}

    h3.title:not(:first-of-type) {
        margin: 20px 0 10px 0;
    }

.td {
    display: table-cell;
    vertical-align: middle;
}

.employee-form .form-half .td {
    padding: 0 40px;
    width: 33%;
}

.employee-form {
    background: #f5f3eF;
    z-index: 99;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #c9cace;
    border-bottom: 1px solid #c9cace;
}

input[type=text], input[type=password] {
    padding: 3px 5px;
    border: 1px solid #c9cace;
}

    input[type=text]:focus, input[type=password]:focus {
        border: 1px solid #0475c8;
    }

.btn {
    position: relative;
    display: inline-block;
    font-size: 14px;
    line-height: 1.33333;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0em;
    margin: 0;
    padding: 0.5em 0.5em 0.45em 0.5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background: #fcfcfc;
    color: #585858;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #c9cacc;
    box-shadow: 0px 1px 0px 0px #aaa;
    text-decoration: none;
    height: 100%;
}

.btn--primary {
    background: #0592fa;
    color: #fff;
    border-color: #0475c8;
}

    .btn--primary:hover {
        color: white;
        background: #199bfa;
    }

    .btn--primary:active {
        box-shadow: inset 0 0.15em 0.3em rgba(0,0,0,0.23);
        border-color: #0466af;
        background: #0589eb;
    }

.btn--cancel {
    background: #d9534f;
    color: #fff;
    border-color: #d43f3a;
}

    .btn--cancel:hover {
        color: #fff;
        background: #d2322d;
    }

    .btn--cancel:active {
        box-shadow: inset 0 0.15em 0.3em rgba(0,0,0,0.23);
        border-color: #ac2925;
        background: #d2322d;
    }

.btn--action {
    background-color: #0475c8;
    width: 54px;
    color: #ddd;
}
.btn--row {
    height: 34px;
}
.btn--right {
    -webkit-border-radius: 0px 3px 3px 0px;
    -moz-border-radius: 0px 3px 3px 0px;
    -ms-border-radius: 0px 3px 3px 0px;
    -o-border-radius: 0px 3px 3px 0px;
}
.btn--left {
    -webkit-border-radius: 3px 0px 0px 3px;
    -moz-border-radius: 3px 0px 0px 3px;
    -ms-border-radius: 3px 0px 0px 3px;
    -o-border-radius: 3px 0px 0px 3px;
}
.btn--middle {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

.nudge--left {
    margin-left: 10px;
}

.nudge--right {
    margin-right: 10px;
}

.nudge--sides {
    margin-left: 10px;
    margin-right: 10px;
}

.nudge--bottom {
    margin-bottom: 10px;
}

.nudge-half--bottom {
    margin-bottom: 5px;
}

.nudge--top {
    margin-top: 10px;
}

.soft--sides {
    padding-left: 10px;
    padding-right: 10px;
}

.soft--right {
    padding-right: 10px;
}

.soft--left {
    padding-left: 10px;
}

.soft-half--right {
    padding-right: 5px;
}

.text--bold {
    font-weight: bold;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.no-float {
    float: none !important;
}

.inline-block {
    display: inline-block;
}

.full-width {
    width: 100% !important;
}

.no-width {
    width: 0% !important;
    display: none;
}

.full-height {
    height: 100%;
}

.vertical-middle {
    vertical-align: middle;
}

.error-message {
    color: #ff0000;
}

.block {
    display: block;
    clear: both;
}

#global-controls {
    margin: 10px 0px;
}