<h2 class="black-bg">Floor Plan</h2>
<div class="clearfix" style="width:100%;">
    <div id="map"></div>
    <div id="map-sidebar"></div>
</div>

<h2 class="black-bg" style="margin-top:15px;">Forms</h2>