<!DOCTYPE html>
<html lang="en" ng-app="coyoteMoves">
<head>
    <meta charset="utf-8" />
    <title>Coyote Moves</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/bundles/css")
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
    @Scripts.Render("~/bundles/libs")

    @Scripts.Render("~/bundles/js")
</head>
<body>
    <header>
        <div class="container">
            <img src="coyotemoves/public/img/coyote-symbol.png" />
            <img src="coyotemoves/public/img/coyote-inv.png" style="height: 18px; padding-left: 10px;" />
            <h1>MOVES</h1>
        </div>
    </header>
    <div id="body">
        @RenderBody()
    </div>

</body>
</html>